.hero-container {
  position: relative;
  height: 500px;
  background-color: #fdd835;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  overflow: hidden;
}

.hero-content {
  position: absolute;
  z-index: 2;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 10px;
}

.hero-content p {
  font-size: 24px;
  margin: 0;
}

.hero-content h2 {
  font-size: 60px;
  margin: 10px 0;
  color: #fff;
}

.hero-content button {
  background-color: #0099ff;
  border: none;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.hero-content button:hover {
  background-color: #007acc;
}

.hero-graphic {
  position: relative;
  z-index: 1;
}

.hero-graphic img {
  max-width: 400px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 15px;
  font-size: 24px;
  cursor: pointer;
  z-index: 3;
}
.arrow.left {
  left: 20px;
}
.arrow.right {
  right: 20px;
}
