.navbar-container {
  background-color: #0099ff;
  padding: 0 5%;
}

.navbar-container ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-container li a {
  display: block;
  padding: 18px 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s;
}

.navbar-container li a:hover,
.navbar-container li a.active {
  background-color: #007acc;
}
